# Python cache
__pycache__/
*.py[cod]
*.pyo

# VSCode settings (optional)
.vscode/

# Output logs and results
output_results/

# Virtual environment
env/
venv/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Model checkpoints or large files (optional)
*.h5
*.pt
*.bin
